<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'gp.css' %}">
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <title>CGPA Calculator</title>
    <script>
        
    function gv() {
    
        var gd=new Array();
       
        var x = document.getElementsByName("grade");
        
        for (var i = 0; i <x.length; i++)
        {   
            gd.push(x[i].value);
        }
        
        document.getElementById("lab").innerHTML=gd;
    
     sessionStorage.setItem('array',JSON.stringify(gd));
}
    </script>
      
    
</head>
<body>
    
        {% if m %}
       
        <form action="cal" method="post">
             {%  csrf_token %}
             {% for i in ls %}
             
             <label for="grade">{{i}}:</label><br>
          
             <select name="grade" id="grade" style="width: 175px;"  >
             <option value="" selected disabled hidden>--ENTER THE GRADE--</option>
             <option value="O">O</option>
             <option value="A+">A+</option>
             <option value="A">A</option>
             <option value="B+">B+</option>
             <option value="B">B</option>
             <option value="RA">RA</option>
            </select>
            <br /><br/>
             {% endfor%}
          
           <input type="submit" onclick="gv()"  value="record" id="sub">
              <b id="lab"></b>
            </form>
        {%else%}
        <div>
        
           
        <h3>GPA Calculator</h3>
        <br/>

        <form action="mark" method="post">
            {%  csrf_token %}

           <!-- <input type="number" name="sem" placeholder="ENTER YOUR SEMESTER" size="25" autocomplete="off"><br /><br/>-->
            <select name="sem" id="sem" style="width: 230px;"  >
                <option value="" selected disabled hidden>--ENTER THE SEMESTER--</option>
                <option value="sem1">sem1</option>
                <option value="sem2">sem2</option>
                <option value="sem3">sem3</option>
                <option value="sem4">sem4</option>
               </select>

<br><br>
       <!--  <input type="text" name="dept" placeholder="ENTER YOUR DEPARTMENT" size="25" autocomplete="off"><br /><br/>-->
       <select name="dept" id="dept" style="width: 230px;"  >
        <option value="" selected disabled hidden>--ENTER THE DEPARTMENT--</option>
        <option value="cse">CSE</option>
        <option value="it">IT</option>
        <option value="ece">ECE</option>
       
       </select>
       <br><br>
        <b id="label"></b>
            
            <input class="decoration-one px-3 py-2" type="submit" ><br><br>
       
        </form>
        
        
        <br/>
        
        </div>
    {% endif%}
</body>
</html>        