<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <title>REGISTER</title>
</head>
<body onfocus="document.getElementById('usnm').value = ''">
    <form action="dec" method="POST">
              {%  csrf_token %}

         <input type="text" name="unm" value='' placeholder="username" id="usnm"  autocomplete="off" ><br>
         <input type="password" name="pass" value='' placeholder="password" id="unm" autocomplete="off"><br>
         <input type="password" name="cpass" placeholder="Confirm password" autocomplete="off"><br>
         <input type="email" name="mail" placeholder="email"><br>
        <input type="submit">
       
        {% for i in messages%}
             {{i}}
        {% endfor %}
    </form>
</body>
</html>        