<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    {% if m %}
    <script>window.onload=function fun(){ alert("Invalid login");}</script>
        {% for i in messages%}
             {{i}}
        {% endfor %}
    {% endif %}

  <form action="" method="post">
        {%  csrf_token %}

   <input type="text" name="unm" value="" placeholder="username" ><br><br>
   <input type="password" name="pass" value='' placeholder="password"><br><br>
   <input type="file" name="dis" id="dis">
   <input type="submit" >
   <p id="demo"></p>
   
    </form>
 
</body>
</html>